* {
    box-sizing: border-box;
}

.btn-reset {
    background-color: unset;
    border: unset;
}

.link-reset {
    text-decoration: none;
    color: inherit;
}

.header {
    background: linear-gradient(to right, white, #0072c6);
}

.header-nav {
    display: flex;
    min-height: 100px;
    padding: 15px 0;
    align-items: center;
}

.nav-logo {
    margin-right: auto;
}

.nav-logo__img {
    width: 80px;
    height: 80px;
}

.form-search {
    display: flex;
    max-width: 600px;
    margin-bottom: 10px;
    align-items: center;
}

.search_type {
    width: 40%;
    margin-right: 4px;
}
.search-input {
    width: 60%;
    height: auto;
    margin-right: 20px;
}

.search-pc__container {
    padding-top: 50px;
}

.btn-search {
    background-color: #0072c6;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    transition: background-color .3s ease-in-out;
}

.btn-search:hover {
    color: white;
    background-color: #0b5ed7;
}

.btn-search:active {
    color: white;
    background-color: #0d6efd;
}

.header-btn {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: snow;
    font-weight: 600;
    transition: background-color .3s ease-in-out;
}

.header-btn:hover {
    background-color: rgb(220, 220, 220);
}

.header-btn:active {
    background-color: grey;
}

.create_form {
    max-width: 400px;
}

.form-check-label {
    display: block;
    margin-bottom: 15px;
}

.login_input {
    margin-bottom: 10px;
}

.messages {
    padding: 0;
    list-style: none;
}

.messages > * {
    color: red;
}

.create_container {
    padding-top: 30px;
}

.main_menu {
    border-color: #0072c6;
    border-radius: 25px;
    background: linear-gradient(to left, white, #0072c6);
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.main_menu:hover, .main_menu:active {
    opacity: 0.7;
}

.card-heading {
    padding: 0;
}